@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    margin: auto;
}

header {
    background: url(./assets/img/bg.png) no-repeat center;
    height: 871px;
    width: 1440px;
}

.logo_svg {
    margin: 20px;
    width: 50px;
    height: 50px;
}

.nav_links {
    display: flex;
    margin: 40px 10px 0 0;
}

.nav_item {
    margin: 0 20px 0 0;
}

.img {
    width: 100px;
    height: 100px;
}

.wrapper_nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.href {
    color: white;
    text-decoration: none;
}

.Alexa_Rise {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
}

.info {
    color: white;
    margin-top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.wrapper_main {
    width: 350px;
    height: 500px;
    position: absolute;
    /* bottom: -100px; */
    display: flex;
    flex-direction: column;
    left: 70px;
    top: 300px;
}

.button {
    background-color: #bdae82;
    color: #000;
    width: 220px;
    height: 50px;
    margin: 17px 0 0 0;
}

.button:hover {
    cursor: pointer;
    background-color: bisque;
    text-decoration: underline;
}

.active_link {
    color: #bdae82;
}

.skills {
    background-color: #000;
    width: 1440px;
    height: 482px;
    display: flex;
    position: relative;
}

.skills_h2 {
    color: #BDAE82;
    font-size: 40px;
    margin: 100px auto 0 auto;
}

.line {
    width: 294px;
    height: 2px;
    background-color: #bdae82;
    margin: 125px 0 0 330px;
}

.line2 {
    width: 294px;
    height: 2px;
    background-color: #bdae82;
    margin: 125px 330px 0 0;
}


.item5 {
    width: 100px;
    height: 100px;
    margin: 0 180px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.item1 {
    margin: 0 140px 0 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
}

.wrapper_iten2 {
    position: absolute;
    top: 180px;
    display: flex;
    left: 1%;
    justify-content: center;
}

.item2 {
    margin: 0 140px 0 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
}

.item3 {
    margin: 0 140px 0 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    width: 200px;
    height: 100px;
}

.item4 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    height: 200px;
    
}

.item6 {
    width: 100px;
    height: 100px;
    margin: 0 140px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item6 {
    width: 100px;
    height: 100px;
    margin: 0 140px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item7 {
    width: 100px;
    height: 100px;
    margin: 0 140px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item8 {
    width: 100px;
    height: 100px;
    margin: 0 140px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    font-size: 20px;
    margin: 0 0 0 80px;
}

.about2 {
    color: white;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
 
.about3 {
    font-size: 20px;
    margin: 0 0 0 53px;
}

.about4 {
    font-size: 20px;
    margin: 0 0 0 68px;
}

.osnova_img {
    margin: 0 0 0 150px;
}

.about5 {
    font-size: 20px;
    margin: 0 0 0 40px;
}

.osnova_img2 {
    margin: 0 0 0 100px;
}

.osnova_img4 {
    margin: 0 0 0 90px;
}

.osnova_img3 {
    margin: 0 0 0 80px;
}

.portfolio {
    width: 1440px;
    height: 1500px;
    background-color: #000;
   
}

.portfolio_h2 {
    color: #BDAE82;
    font-size: 40px;
    margin: 100px auto 0 auto;
}

.line_port {
    width: 258px;
    height: 2px;
    background-color: #bdae82;
    margin: 125px 0 0 330px;
}

.line2_por {
    width: 258px;
    height: 2px;
    background-color: #bdae82;
    margin: 125px 330px 0 0;
}

.winter_h2 {
    color: #BDAE82;
}


.wrapper_portfolio_lines{
    display: flex;
    position: relative;
}
.sisoni {
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
}

.winter {
    background-color: #000;
    border: 1px solid #BDAE82;
    color: #BDAE82;
    width: 200px;
    height: 50px;
    margin: 0 15px 0 0;
}

.spring {
    background-color: #000;
    border: 1px solid #BDAE82;
    color: #BDAE82;
    width: 200px;
    height: 50px;
    margin: 0 15px 0 0;
}

.summer {
    background-color: #000;
    border: 1px solid #BDAE82;
    color: #BDAE82;
    width: 200px;
    height: 50px;
    margin: 0 15px 0 0;
}

.autumn {
    background-color: #000;
    border: 1px solid #BDAE82;
    color: #BDAE82;
    width: 200px;
    height: 50px;
    margin: 0 15px 0 0;
}

.active_link2 {
    background-color: #BDAE82;
    color: #000;
}

.autumn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.spring:hover {
    cursor: pointer;
    text-decoration: underline;
}

.summer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.winter:hover {
    cursor: pointer;
    text-decoration: underline;
}

.png1 {
    width: 450px;
    height: 560px;
    position: absolute;
}

.img {
    display: flex;
    flex-wrap: wrap;
}
